.home{
    width: 100%;
}

.welcome{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 4, 18, 0.774);
}

.welcome-text{
    width: 80%;
    color: white;
    position: relative;
    top: 20rem;
    left: 10%;
}

.title_1{
    font-size: 4rem;
    color: #0E60AB;
}

.title_2{
    font-size: 4rem;
    color: white;
}

.bg-img{
    background-size: cover;
	background-color: #1c120c;
	background-attachment:fixed;
	position:relative;
	overflow:hidden;
}

.bg-solid{
    background-size: 20em 20;
	background-color: #1c120c;
}

.bg1{
    background: url("./images/bg/Portada.jpg") no-repeat center fixed;
    height: 50rem;
}

.bg2{
    background: url("./images/bg/quienes_somos.jpg") no-repeat;
    height: 26rem;
}

.bg3{
    background: url("./images/bg/mision.jpg") no-repeat center fixed;
    height: 50rem;
}

.bg4{
    background: url("./images/bg/contacto1.jpg") no-repeat center fixed;
    height: 50rem;
}

.bg5{
    background: url("./images/bg/contacto2.jpg") no-repeat center fixed;
    height: 50rem;
}

