.home{
    width: 100%;
}

.welcome{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 4, 18, 0.774);
}

.white-back{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.774);
}

.blue-back{
    width: 100%;
    height: 100%;
    background-color: rgba(26, 31, 75, 0.5);
}

.company-mision{
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.center-column{
    display: inline-flex;
    width: calc(100%/3);
    height: 100%;
    background-color: rgba(26, 31, 75, 0.91);
}

.side-column{
    display: inline-flex;
    width: calc(100%/3);
    height: 100%;
    background-color: rgba(14, 96, 171, 0.86)
}

.welcome-text{
    width: 60%;
    max-width: 42rem;
    color: white;
    position: relative;
    top: 20rem;
    left: 10%;
    font-family: Nunito;
    font-size: 1.2rem;
}

.title_1{
    font-family: Questrial;
    font-size: 4rem;
    color: #0E60AB;
}

.title_2{
    font-family: Questrial;
    font-size: 4rem;
    color: white;
}

.bg-img{
    background-size: cover;
	background-color: #1c120c;
	background-attachment:fixed;
	position:relative;
	overflow:hidden;
}

.bg-solid{
    background-size: cover;
	background-color: white !important;
}

.bg-logo{
    background-color: #1A1F4B !important;
    background-position: -10rem -5rem !important;
}

.bg1{
    background: url("./images/bg/Portada.jpg") no-repeat center fixed;
    height: 53rem;
}

.bg2{
    background: url("./images/bg/quienes_somos.jpg") no-repeat right top/97%;
    height: 26rem;
}

.bg3{
    background: url("./images/bg/mision.jpg") no-repeat center fixed;
    height: 20rem;
}

.bg4{
    background: url("./images/bg/contacto1.jpg") no-repeat center fixed;
    height: 57rem;
}

.bg5{
    background: url("./images/bg/Fondo-Logo.png") no-repeat left/80rem;
    height: 25rem;
}

.bg6{
    background: url("./images/bg/contacto2.jpg") no-repeat center fixed;
    height: 39rem;
}

