.home{
    width: 100%;
}

.welcome{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 4, 18, 0.774);
}

.white-back{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.774);
}

.blue-back{
    width: 100%;
    height: 100%;
    background-color: rgba(26, 31, 75, 0.5);
}

.company-mision{
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.center-column{
    position: relative;
    display: inline-flex;
    width: calc(100%/3);
    height: 100%;
    background-color: rgba(26, 31, 75, 0.91);
}

.side-column{
    position: relative;
    display: inline-flex;
    width: calc(100%/3);
    height: 100%;
    background-color: rgba(14, 96, 171, 0.86)
}

.three-blocks{
    position: absolute;
    display: inline-flex;
    width: 80%;
    height: 60%;
    top: 20%;
    left: 10%;
}

.left-block{
    position: relative;
    width: 49%;
    height: 100%;
}

.left-text{
    position: absolute;
    left: 2rem;
    right: 7rem;
    top: 4rem;
    text-align: right;
}

.left-block h1{
    font-family: Questrial;
    font-weight: bold;
    font-size: 3rem;
    color: rgba(26, 31, 75);
}

.right-block{
    position: relative;
    width: 49%;
    height: 100%;
}

.right-text{
    position: absolute;
    top: 3.5rem;
    left: 1rem;
    text-align: left;
    font-size: 1.1rem;
    font-family: Nunito;
    line-height: 2rem;
    color: rgb(119, 119, 119);
}

.vl{
    width: 2%;
    border-left: 0.2rem solid rgba(14, 96, 171);
    height: 95%;
    margin-top: 0.5rem;
}

.column-container{
    position: absolute;
    left: 5%;
    top: 15%;
    width: 90%;
    height: 70%;
    color: white;
    font-family: Nunito;
    text-align: center;
}

.column-container p{
    font-size: 1.1rem;
}

.column-container ul{
    font-size: 1.1rem;
    text-align: left;
    margin-left: 20%;
}

.column-container h1{
    font-family: Questrial;
    font-weight: bold;
}

.welcome-text{
    width: 60%;
    max-width: 42rem;
    color: white;
    position: relative;
    top: 20rem;
    left: 10%;
    font-family: Nunito;
    font-size: 1.2rem;
    
}

.title_1{
    font-family: Questrial;
    font-weight: bold;
    font-size: 4rem;
    color: #0E60AB;
}

.title_2{
    font-family: Questrial;
    font-weight: bold;
    font-size: 4rem;
    color: white;
}

.bg-img{
    background-size: cover;
	background-color: #1c120c;
	background-attachment:fixed;
	position:relative;
	overflow:hidden;
}

.bg-solid{
    background-size: cover;
	background-color: white !important;
}

.bg-logo{
    background-color: #1A1F4B !important;
    background-position: -10rem -5rem !important;
}

.bg1{
    background: url("./images/bg/Portada.jpg") no-repeat center fixed;
    height: 53rem;
}

.bg2{
    background: url("./images/bg/quienes_somos.jpg") no-repeat right top/97%;
    height: 26rem;
}

.bg3{
    background: url("./images/bg/mision.jpg") no-repeat center fixed;
    height: 20rem;
}

.bg4{
    background: url("./images/bg/contacto1.jpg") no-repeat center fixed;
    height: 57rem;
}

.bg5{
    background: url("./images/bg/Fondo-Logo.png") no-repeat left/80rem;
    height: 25rem;
}

.bg6{
    background: url("./images/bg/contacto2.jpg") no-repeat center fixed;
    height: 45rem;
}

